.pagination{
    display: flex;
   justify-content: center;
}
.page-bar{

    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap : 15px;
    width: 50%;
}

.page,.right-arrow,.left-arrow{
    background-color: rgb(63, 200, 200);
    display: flex;
    cursor: pointer;
    font-size: large;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.page:hover,.left-arrow:hover,.right-arrow:hover{
    transform: scale(1.1);
}
