.pagination {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page, .right-arrow, .left-arrow {   
    display: flex;   
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
    background-color: #ffffff;
    color: #495057;
    border: 1px solid #dee2e6;
}

.page:hover, .left-arrow:hover, .right-arrow:hover {
    transform: scale(1.1);
    background-color: #e9ecef;
    color: #212529;
}

.page.active {
    background-color: rgb(210, 180, 200);
    color: white;
    border-color: rgb(210, 180, 200);
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(39, 42, 46, 0.4);
}

.left-arrow, .right-arrow {
    font-weight: bold;
}